@{
    ViewData["Title"] = "About the Class";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p><a href="http://web.stcloudstate.edu/pisafonov/BCIS/2016_Fall/356/IS%20356%20Group%20Project.doc" download>Group Project Details</a><br />
    <a href="http://web.stcloudstate.edu/pisafonov/BCIS/2016_Fall/356/IS356_WebSite%20Development_Assignment.doc" download>Project Skills Matrix</a><br />
    <a href="http://web.stcloudstate.edu/pisafonov/BCIS/2016_Fall/356/IS%20356%20-%20Skills%20Matrix.doc" download>Website Development Criteria</a></p>
