@model IS356Main.Models.Contact

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Contact</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="State" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="emailAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="emailAddress" class="form-control" />
                <span asp-validation-for="emailAddress" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="phoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="pictureLink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="pictureLink" class="form-control" />
                <span asp-validation-for="pictureLink" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="siteLink" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="siteLink" class="form-control" />
                <span asp-validation-for="siteLink" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="streetAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="streetAddress" class="form-control" />
                <span asp-validation-for="streetAddress" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="zipCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="zipCode" class="form-control" />
                <span asp-validation-for="zipCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Admin"  asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
